~
build/
builds/
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
zip/
_[Rr]e[Ss]harper*/
_[Rr]eSharper.*
*.user
*.[Rr]e[Ss]harper
*.suo
*.cache
*.swp
*.dot[Cc]over
packages/*
[Bb]ackup
[Uu]pgrade[Ll]og.xml
[Uu]pgrade[Ll]og.htm
_[Uu]pgrade[Rr]eport_[Ff]iles
.idea/
*.log
*.log.*
*node_modules*
vendor/
vendor/*
vendor/*/*
vendor/*/*/*
vendor/*/*/*/*


