~
build/
builds/
[Bb]in
*/bin/*
[Dd]ebug*/
obj/*
[Rr]elease*/
_ReSharper*/
zip/
[Tt]est[Rr]esult
[Bb]uild[Ll]og.*
*.swp
*.userprefs
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
BuildLogs/*
packages/*
*.vssscc
*.pidb
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.zip
.idea/
*.[Rr]e[Ss]harper
*.[Pp]ublish.xml
*-results.xml
*.InstallLog
[Ll]ogs/
packages/
*.dll
node_modules/
